---
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<nav class="species-nav">
    <a href="/species/Adelie">Adelie</a>
    <a href="/species/Gentoo">Gentoo</a>
    <a href="/species/Chinstrap">Chinstrap</a>
    <a href="/species">Vue ancres/slider</a>
    <a href="/test-iframe">Vue iframe</a>
</nav>

<GraphicSpecies species="Chinstrap" title="Penguins – Chinstrap" />
